# RewriteEngine On
# #Rewritebase //
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^(.*)$ index.php/$1 [L]
# RewriteCond %{HTTPS} off
# RewriteCond %{HTTP:X-Forwarded-SSL} !on

# RewriteEngine On
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^(.*)$ index.php/$1 [L]
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
# PassengerAppRoot "/home/u1062728/isecurity"
# PassengerBaseURI "/"
# PassengerNodejs "/home/u1062728/nodevenv/isecurity/16/bin/node"
# PassengerAppType node
# PassengerStartupFile app.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
# <IfModule Litespeed>
# </IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END


RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]